body{
    padding: 0;
    margin: 0 auto;
}
.box {
    width: 600px;
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#monster {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#msg {
    /* position: fixed; */
    color: rgb(255, 255, 255);
    margin: -20px 65px;
    font-weight: bold;
    font-size: 22px;
}